  <div>
      <div *ngIf="!cart.length" class="text-center">
         <h3>  Your cart is empty <mat-icon>shopping_cart</mat-icon></h3>
      </div>
      <div *ngIf="cart.length">
          <table  mat-table [dataSource]="dataSource" class="mat-elevation-z3">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let cartItem">{{cartItem.id}} </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> title. </th>
                <td mat-cell *matCellDef="let cartItem"> {{cartItem.product.title}} </td>
              </ng-container>

              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let cartItem">
                  <img class="prodImg" src='{{cartItem.product.product_images[0]}}' >
                </td>
              </ng-container>

              <ng-container matColumnDef="addRemove">
                  <th mat-header-cell *matHeaderCellDef> Add/Remove </th>
                  <td mat-cell *matCellDef="let cartItem">
                      <ul class="pagination">
                        <li><button (click)="removeOneFromCart(cartItem.product)" class="page-link text-danger removeOneFromCart">-</button></li>
                        <li><button (click)="addToCart(cartItem.product)" class="page-link addOneToCart">+</button></li>
                      </ul>
                  </td>
                </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Ordered </th>
                <td mat-cell *matCellDef="let cartItem">{{cartItem.quantity}}</td>
              </ng-container>

              <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef> Total Price </th>
                <td mat-cell *matCellDef="let cartItem">${{cartItem.quantity* cartItem.product.price | number:'1.0-0'}}</td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price. </th>
                <td mat-cell *matCellDef="let cartItem">${{cartItem.product.price}} </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Remove </th>
                <td mat-cell *matCellDef="let cartItem">
                    <button class="item-delete btn btn-danger" (click)="removeFromCart(cartItem.id)">&#x2718; </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
                <!-- <div href="#" class="button mat-elevation-z3">Total Price: {{totalPrice}}</div> -->
                <div href="#" class=" footer-row mat-elevation-z3">Total Price: {{totalPrice}}</div>
                <a href="#" class="button mat-elevation-z3">Checkout<mat-icon class="material-icons"> beenhere</mat-icon></a>
      </div>
    </div>
