  <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let cartProduct">{{cartProduct.product.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name. </th>
          <td mat-cell *matCellDef="let cartProduct"> {{cartProduct.product.name}} </td>
        </ng-container>
          
        <ng-container matColumnDef="picUrl">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let cartProduct"><img class="prodImg" src={{cartProduct.product.picUrl}} ></td>
        </ng-container>

        <ng-container matColumnDef="addRemove">
            <th mat-header-cell *matHeaderCellDef> Add/Remove </th>
            <td mat-cell *matCellDef="let cartProduct">
                <ul class="pagination">
                  <li><button (click)="addToCart(cartProduct.product)" class="page-link addOneToCart">+</button></li>
                  <li><button (click)="removeOneFromCart(cartProduct.product)" class="page-link text-danger removeOneFromCart">-</button></li>
                </ul>
            </td>
          </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef> Ordered </th>
          <td mat-cell *matCellDef="let cartProduct">{{cartProduct.count}}</td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef> Total Price </th>
          <td mat-cell *matCellDef="let cartProduct">${{cartProduct.count* cartProduct.product.price | number:'1.0-0'}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price. </th>
          <td mat-cell *matCellDef="let cartProduct">${{cartProduct.product.price}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>