<div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <app-input 
        invalidMsg="Please enter a valid email address" 
        labelName="email" [form]="registerForm"
        [inputName]="registerForm.controls.email" 
        >
      </app-input>
      <app-input 
        invalidMsg="Password must be between 3 and 8 characters" 
        labelName="password" [form]="registerForm"
        [inputName]="registerForm.controls.password" 
      >
    </app-input>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Sign Up</button>
      </div>
  </form>
</div>