<mat-card class="card">
    <mat-card-header class="card-header">
        <mat-card-title >{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.id}}</mat-card-subtitle>
    </mat-card-header>
    <div class="card-main">
        <img mat-card-image src="{{product.picUrl}}" alt="Photo of a Shiba Inu">
        <mat-card-content class="main-description">
            {{product.description}}
        </mat-card-content>
    </div>
    <mat-card-actions>
        <button class="btn"  mat-flat-button color="primary" (click)="onAddToCart(product)">
                <mat-icon>add_shopping_cart</mat-icon>Add to cart
        </button>
        <button class="btn ml-1"  mat-flat-button color="primary" (click)="showProduct(id)">
                View
        </button>
        <button class="float-right" mat-icon-button color="warn">
            <mat-icon class="btn-heart" (click)="addToWishlist(product)" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
