<div class="row">
  <div ngbDropdown class="d-inline-block" autoClose="outside" >
    <button class="btn cart-btn" id="dropdownForm1" ngbDropdownToggle>  <mat-icon>favorite</mat-icon>{{count}}</button>
    <div *ngIf="count" ngbDropdownMenu aria-labelledby="dropdownManual">
      <div class="container">
        <div class="shopping-cart">
          <ul class="shopping-cart-items">
            <li class="clearfix" *ngFor="let product of wishlist">
              <img class="float-left " src="{{product.picUrl}}" alt="item1" />
              <span class="float-left item-name">{{product.name}}</span>
              <button class="float-left item-delete btn btn-danger" (click)="removeFromWishlist(product)">&#x2718; </button>
            </li>
          </ul>
        </div> 
      </div>
    </div>
 </div>
</div>