<div class="col-lg-3 col-md-6 col-sm-6 col-12 mx-auto mb-3 ">
    <div class="card w18">
        <a class="viewMore btn"><img src="{{product.picUrl}}" class="card-img-top prodImg" alt="..."></a>
        <div class="card-body">
            <h5 class="prodTitle card-title">{{product.name}}</h5>
            <p class="prodDesc card-text">{{product.description}}</p>
            <p class="prodPrice card-text text-danger d-inline float-left">${{product.price}}</p>
            <button class="prodToCart btn btn-primary d-inline float-right" (click)="onAddToCart(product)">Add to cart <img src="./assets/media/cart.png"></button>
        </div>
    </div>
</div>
