<div class="container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input 
        invalidMsg="Please enter a valid email address" 
        labelName="email" [form]="loginForm"
        [inputName]="loginForm.controls.email" 
        >
      </app-input>
      <app-input 
        invalidMsg="Password must be between 3 and 8 characters" 
        labelName="password" [form]="loginForm"
        [inputName]="loginForm.controls.password" 
        >
    </app-input>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Login</button>
      </div>
  </form>
</div>