<div class="row">
    <div ngbDropdown class="d-inline-block" autoClose="outside" >
        <button class="btn cart-btn" id="dropdownForm1" ngbDropdownToggle>  <mat-icon>shopping_cart</mat-icon>{{cartCount}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
           <div class="container">
               <div class="shopping-cart">
                 <ul class="shopping-cart-items">
                   <li class="clearfix" *ngFor="let cartItem of cart| slice:0:5;">
                     <img src="{{cartItem.product.product_images[0]}}" alt="item1" />
                     <span class="item-name">{{cartItem.product.title}}</span>
                     <span class="item-price">${{cartItem.product.price}}</span>
                     <span class="item-quantity">Ordered: {{cartItem.quantity}}</span>
                     <button class="item-delete btn btn-danger" (click)="removeFromCart(cartItem.id)">&#x2718; </button>
                   </li>
                 </ul>
                 <a [routerLink]="['/cart']" class="button">View Cart</a>
               </div> <!--end shopping-cart -->
             </div> <!--end container -->
      </div>
   </div>
</div>
