<div class="row">
    <div ngbDropdown class="d-inline-block" autoClose="outside">
        <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>  Items: {{cartCount}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <div
          *ngFor="let cartProduct of cart| slice:0:5;"
           ngbDropdownItem 
           >
           <li class="inline-block">
              {{cartProduct.product.name}}
           </li>
           <li class="d-inline-block badge badge-primary float-left">
              <span >ordered: {{cartProduct.count}}</span >
           </li>
           <li class="d-inline-block float-right">
              <button style="color: red;" type="button" class="close" aria-label="Close" (click)="removeFromCart(cartProduct.product)">
                  <span aria-hidden="true">&times;</span>
              </button>
           </li>
          </div>
        </div>
    </div>
</div>